h3 {
    padding: 0px;
    margin: 0px 10px 0px 0px !important;
}

.edit-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}

.content-container {
    padding: 50px;
}

.unfocused {
  pointer-events: none;
  opacity: 0.3;
  transition: opacity 0.5s;
}

.input-container {
    display: inline-block;
    background-color: #f1f4f8;
    padding: 10px 20px;
    border-radius: 5px;
}

.field-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 40px;
    padding: 0;
}

.space-evenly {
    justify-content: space-evenly;
}

.content-container > span {
    color: gray;
}

.block {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f1f4f8;
    font-size: 15px;
    border-radius: 5px;
}

.money-input {
    padding: 0;
    background-color: #f1f4f8;
    font-size: 15px;
    border: 0px;
    width: 50px;
}

input:focus {
    outline: none;
}

.dollar {
    color: #0075fa;
    margin-right: 5px;
}

.field-container > hr {
    border-bottom: 2px solid lightsteelblue;
    display: inline-block;
    padding: 0px 10px;
    margin: 0px 10px;
}

footer {
    margin-top: 100px;
}

footer > .button-item {
    border: 0px;
    padding: 5px;
    width: 150px;
    height: 35px;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}
footer > .button-item:hover {
    background: #e6f0f7;
    cursor: pointer;
}

footer > .button-item:focus {
    outline: 0;
    box-shadow: 0 0 0 2px #4a90e2;
}

.save {
    float: right;
    color: #4a90e2;
}

.active {
    background: #e6f0f7;
    box-shadow: 0 0 0 2px #4a90e2;
}

.pac-container {
    margin-top: 10px;
    background-color: #e6f0f7;
    border-radius: 5px;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    
}

.pac-item {
    border: 0px;
    font-size: 15px;
}

.pac-item-query {
    font-size: 15px;
}

.pac-icon {
    color: #4a90e2;
}

input, select, textarea, button {
    font-family: inherit !important; 
}