.profile-container {
    display: flex;
    flex-direction: column;
}

.profile-edit-container {
    padding: 20px;
    width: 80%;
    background-color: white;
    border-radius: 5px;
}

.field-label {
    text-align: left;
}

.dob {
    display: flex;
}

.edit-item-container {
    display: flex;
    flex-wrap: wrap;
}

.profile-edit-item {
    margin: 15px;
    flex: 1;
    border: 2px solid red;
}

.header-container {
    display: flex;
    margin: 20px auto;
    align-items: center;
    flex-direction: column;
}

.header-container > button {
    align-self: flex-end;
}

.details {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.map-icon {
    display: inline-flex;
    margin: 0 5px;
    font-size: 5px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}