.navbar-container {
    display: flex;
    border: 2px solid black;
    padding: 10px;
}

.navbar-title {
    margin-right: 25px;
}

.navbar-tabs {
    margin: 0 5px;
}

.navbar-login {
    margin-left: auto;
}