.button-toggle {
    margin-bottom: 10px;
    border: 0px;
    outline: 0;
    padding: 10px 20px;
    width: auto;
    height: 35px;
    border-radius: 5px;
    text-align: left;
    font-size: 15px;
    background-color: white;
}
.button-toggle:hover {
    cursor: pointer;
}

.active {
    background: #e6f0f7;
    box-shadow: 0 0 0 2px #4a90e2;
}

.tag {
    margin: 0px 10px 10px 10px;
}

.input-custom-container {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f1f4f8;
    border-radius: 5px;
}

.tag-custom-container {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f1f4f8;
    border-radius: 5px;
    font-size: 15px;
}

.small {
    width: 150px;
}

.large {
    width: 70%;
}

.center {
    margin: auto;
    justify-self: center;
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.input-custom {
    background-color: #f1f4f8;
    font-size: 15px;
    border: 0px;
    width: 100%;
}

.input-custom:focus {
    outline: none;
  }

.prefix {
    margin: 0 5px;
    color: #4a90e2;
}

